/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}

#light {
  background: #ddd;
}

#dark {
  background: #333;
}

body {
  background: #f1f1f1;
  margin: 0;
  font-family: 'Poppins';
}

header {
  background: #fff;
}

#dark header {
  background: #3a3a3a;
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #333;
  text-decoration: none;
}

.pages, div.switch {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

div.pages {
  padding: 0px 20px;
}

#dark header .container {
  background: #3a3a3a;
}

#dark header a {
  color: #fff;
  text-decoration: none;
}

/* homepage */
.home {
  display: grid;
  grid-template-areas: 'form';
}
.workout-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}
.workout-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.workout-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.workout-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

.workout-details span.edit_note {
  right: 65px;
}

span.total-reps {
  font-weight: 600;
  font-size: medium;
}

.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.loading-text {
  margin-top: 30px;
  margin-left: 20px;
}

/* new workout form */
form.create {
  grid-area: form;
}

input {
  padding: 10px;
  margin: 10px 10px 20px 10px;
  width: 10%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

#text-input {
  width: 20%;
}

form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: 'Poppins';
  border-radius: 4px;
  cursor: pointer;
}

.calendarBtn {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: 'Poppins';
  border-radius: 4px;
  cursor: pointer;
  margin: 10px 0px;
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}

#light h3 {
  color: #3a3a3a;
  margin-top: 0px;
}

#dark h3 {
  color: #fff;
  margin-top: 0px;
}

#light .workout-label {
  color: #3a3a3a
}

#dark .workout-label {
  color: #fff
}

#dark input {
  background-color: #3a3a3a;
  color: white;
}

#dark div.workout-details {
  background-color: #424242;
  color: white;
}

#dark p {
  color: white;
}

#dark .user-email {
color: white;
}

#dark button.logout {
  background: var(--primary);
  border: 1;
  color: #fff;
}

/* navbar */
nav {
  display: flex;
  align-items: center;
}
nav a {
  margin-left: 10px;
}
nav button {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: 'Poppins';
  cursor: pointer;
  font-size: 1em;
  margin-left: 10px;
}

div.logout {
  text-align: end;
}

/* auth forms */
form.signup,
form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}

form.signup input,
form.login input {
  width: 100%;
  margin: 10px auto;
}

form.signup button,
form.login button {
  width: 100%;
  margin-top: 10px;
}

/* editable item */
.editBtn {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  margin-right: 20px;
  font-family: 'Poppins';
  border-radius: 4px;
  cursor: pointer;
}

.has-workout-marker {
  background-color: var(--primary);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 2px;
}

.switch {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-right: 20px;

}

.switch label {
margin-right: 10px;
}

#dark .switch label {
color: white;
margin-right: 10px;
}

select.weight-unit, select.workout-totals {
  border-radius: 5px;
  padding: 8px;
  border: none;
  color: #424242;
  padding-top: 7px;
  padding-bottom: 9px;
  margin-bottom: 9px;
}

#dark select.weight-unit, #dark select.workout-totals {
  border-radius: 5px;
  background-color: #424242;
  color: white;
}

select.workout-totals {
  margin-bottom: 70px;
}

.weight-unit {
  font-size: 1em;
}

.react-calendar {
  border-radius: 5px;
}

/* React Calendar */

.react-calendar {
  width: 350px;
  max-width: 100%;
  background: white;
  border: 1px solid #a0a096;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}

#dark .react-calendar {
  width: 350px;
  max-width: 100%;
  background: #333;
  border: 1px solid #a0a096;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  color: white;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

#dark .react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
  color: white;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}

#dark .react-calendar__navigation button:enabled:hover,
#dark .react-calendar__navigation button:enabled:focus {
  background-color: #575757;
}

.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}

#dark .react-calendar__month-view__days__day--weekend {
  color: #00d1ae !important;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
  border-radius: 5px;
}

#dark .react-calendar__tile:enabled:hover,
#dark .react-calendar__tile:enabled:focus {
  background-color: #6f6f6f;
}

.react-calendar__tile--now {
  background: #ffff76;
  border-radius: 5px;
}

#dark .react-calendar__tile--now {
  background: #5f3592;
  border-radius: 5px;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
  border-radius: 5px;
}

#dark .react-calendar__tile--now:enabled:hover,
#dark .react-calendar__tile--now:enabled:focus {
  background: #5f3592b0;
  border-radius: 5px;
}


.react-calendar__tile--active {
  background: #006edc;
  color: white;
  border-radius: 5px;
}

#dark .react-calendar__tile--active {
  background: #104880;
  color: white;
  border-radius: 5px;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
  border-radius: 5px;
}

#dark .react-calendar__tile--active:enabled:hover,
#dark .react-calendar__tile--active:enabled:focus {
  background: #0c3660;
  border-radius: 5px;
}

/* Media Queries */
@media (max-width: 842px) {
  .calendar-container {
    display: flex;
    justify-content: flex-end;
  }

  div.calendar {
    display: flex;
    justify-content: flex-end;
  }
}

@media (max-width: 750px) {
  input,
  #text-input {
    width: 100%;
    margin: 10px 10px 20px 0px;
  }

  nav button {
    margin-top: 10px;
  }

  span {
    font-size: small;
  }

  .navbar-links {
    display: flex;
    flex-direction: column;
    font-size: small;
  }

  a {
    margin-top: 10px;
  }

  h1 {
    font-size: x-large;
  }
}

